.rbt-menu.dropdown-menu.show {
  border-radius: 0px;
}

mark.rbt-highlight-text {
  background-color:unset;
  font-weight: bold;
  padding:unset;
}

.react-datepicker-wrapper {
  display: unset;
}

.modal-90w {
  width: 90%;
  max-width: none !important;
}