.wrapper-icon{
  position: absolute;
  top: 46.5%;
  right: 12%;
  
}
.icon-login {
  position: absolute;
  font-size: larger;
  top: 39%;
  right: 12%;
}

.icon-login:hover {
  color: #007bff;
  cursor: pointer;
}
